# macOS
.DS_Store
.AppleDouble
.LSOverride

# VSCode (configuración personal del editor)
.vscode/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Entornos virtuales
venv/
.venv/
env/

# Datos sensibles o pesados (opcional, pero recomendado)
*.env
.env

# Claude
.claude/